# --- Global ---
.DS_Store
.env
.vscode/

# --- Logs & Test Artifacts ---
*.log
test_logs/

# --- Go (Gateway) ---
gateway/*.exe
gateway/bin/

# --- Python (Backend - Future) ---
__pycache__/
*.pyc
venv/